
/********** Base styles **********/
* {
   box-sizing: border-box;
}

body {
   font: normal 12pt;
}

h1 {
   font-size: 175%;
   margin-bottom: 15px;
   text-align: center;
}

section {
   width: 90%;
   background-color: #d3d3d3; /* lightgray */
   margin-left: auto;
   margin-right: auto;
}

p {
   clear: both;
   font-family: Georgia, 'Times New Roman', Garamond;
   padding: 0 5px;

}

h2.title {
   border: 1px solid black;
   font-size: 125%;
   float: right;
   padding: 0 5px 0 5px;
   margin: 0;
}

#first {
   background-color: #ffc0cb; /* pink */
   color: black;
}


#second {
   background-color: red;
   color: white;
}

#third {
   background-color: yellow;
   color: black;
}

/* Simple Responsive Framework. */
.row {
   width: 100%;
}


/********** Desktop only **********/
@media (min-width: 992px) {
   .col-lg-4, .col-lg-6, .col-lg-12 {
      float: left;
      border: 1px solid #E9967A; /* darksalmon*/
   }

   .col-lg-4 {
      width: 33%;
      margin: 3px 0.33% 0 0;
   }

   .col-lg-6 {
      width: 49%;
      margin: 0 1% 0 0;
   }

   .col-lg-12 {
      width: 100%;
   }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
      float: left;
      border: 1px solid;
      border-color: #00008B; /* darkblue*/
   }

   .col-md-6 {
      width: 49%;
      margin: 0 1% 3px 0;
   }

   .col-md-12 {
      width: 99%;
      margin: 0 1% 3px 0;
   }
}

/********** mobile devices only **********/
@media (max-width: 767px) {
   .col-sm-12 {
      float: left;
      border: 1px solid;
      border-color: #006400; /* darkgreen; */
   }

   .col-sm-12 {
      width: 99%;
      margin: 0 1% 3px 0;
   }
}
